// Color
$color-primary: #777777;
$color-title: #555555;
$color-hover: #4f4f4f;
$color-white: #ffffff;

// Background
$background-primary: #fea19f;
$background-hover: #cb817f;
$background-second: rgba(0, 0, 0, .6);

// Border color
$border-color: #eeeeee;