.header {
  padding-top: 12px;
  padding-bottom: 12px;

  &__container {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 300px 2fr 1fr 36px;
    @include align-items(center);
  }

  .search-form {
    padding-right: 50px;

    input {
      font-size: 14px;
      padding: 8px 20px;
      border: 1px solid #eaeaea;
      background-color: #ffffff;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }

    form {
      display: grid;
      grid-template-columns: 1fr auto;

      .btn-submit {
        color: #ffffff;
        padding: 0 16px;
        border: none;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        background-color: $background-primary;
        @include transition();

        &:hover {
          background-color: $background-hover;
        }
      }
    }
  }

  .address-info {
    text-align: right;

    p {
      margin-bottom: 0;
    }

    a {
      display: block;
      font-weight: 700;
      font-size: 20px;
      color: #e84b6a;
    }
  }

  .cart {
    text-align: right;

    a {
      display: inline-flex;
      width: 30px;
      height: 30px;
      color: #ffffff;
      font-size: 12px;
      border-radius: 50%;
      background-color: $background-primary;
      @include align-items(center);
      @include justify-content(center);

      &:hover {
        background-color: $background-hover;
      }
    }
  }
}